In [192]:
 # data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd
import math

 # visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

train_df = pd.read_csv('data/train_longevity.csv')
test_df = pd.read_csv('data/test_longevity.csv')
combine = [train_df, test_df]

In [193]:
#Задание 1: Признак Age должен быть дополнен и фильтрован для обработки алгоритмами.

#Удаление некорректных значений:
idmax = train_df['Age'].value_counts().idxmax()
train_df['Age'] = train_df['Age'].map(lambda v: idmax if v == '#ЗНАЧ!' else v).astype(float)
test_df['Age'] = train_df['Age'].map(lambda v: idmax if v == '#ЗНАЧ!' else v).astype(float)

#Среднее значение столбца Age
avg_train = train_df['Age'].mean()
avg_test = test_df['Age'].mean()

train_df['Age'] = train_df['Age'].map(lambda x: avg_train if math.isnan(x) else x)
test_df['Age'] = test_df['Age'].map(lambda x: avg_test if math.isnan(x) else x)
train_df

,Id,Longevity,Education,Sex,Age,Pet,Children,Region,Activity,MedExam,Sport
0,1,0,3,female,73.000000,1,0,21,725,NaN,NaN
1,2,1,1,male,75.000000,1,0,17,7128,+,+
2,3,1,3,male,73.000000,0,0,31,793,NaN,NaN
3,4,1,1,male,74.000000,1,0,11,5310,+,NaN
4,5,0,3,female,74.000000,0,0,37,805,NaN,NaN
5,6,0,3,female,73.797059,0,0,33,846,NaN,-
6,7,0,1,female,77.000000,0,0,17,5186,+,NaN
7,8,0,3,female,70.000000,3,1,34,2108,NaN,NaN
8,9,1,3,male,73.000000,0,2,34,1113,NaN,NaN
9,10,1,2,male,72.000000,1,0,23,3007,NaN,+
10,11,1,3,male,71.000000,1,1,95,1670,+,NaN
11,12,1,1,male,77.000000,0,0,11,2655,+,NaN
12,13,0,3,female,73.000000,0,0,21,805,NaN,NaN
13,14,0,3,female,75.000000,1,5,34,3128,NaN,NaN
14,15,0,3,male,72.000000,0,0,35,785,NaN,NaN
15,16,1,2,male,77.000000,0,0,24,1600,NaN,NaN
16,17,0,3,female,70.000000,4,1,38,2913,NaN,-
17,18,1,2,female,73.797059,0,0,24,1300,NaN,NaN
18,19,0,3,male,74.000000,1,0,34,1800,NaN,NaN
19,20,1,3,male,73.797059,0,0,26,723,NaN,+
20,21,0,2,female,74.000000,0,0,23,2600,NaN,NaN
21,22,1,2,female,74.000000,0,0,24,1300,+,NaN
22,23,1,3,male,72.000000,0,0,33,803,NaN,-
23,24,1,1,female,74.000000,0,0,11,3550,+,NaN
24,25,0,3,male,71.000000,3,1,34,2108,NaN,NaN
25,26,1,3,male,75.000000,1,5,34,3139,NaN,NaN
26,27,0,3,female,73.797059,0,0,26,723,NaN,+
27,28,0,1,female,72.000000,3,2,19,26300,+ + +,NaN
28,29,1,3,male,73.797059,0,0,33,788,NaN,-
29,30,0,3,female,73.797059,0,0,34,790,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
827,828,1,2,female,70.000000,0,2,20,3700,NaN,+
828,829,1,3,female,73.797059,0,0,36,775,NaN,-
829,830,1,1,male,78.000000,0,0,11,8000,+,NaN
830,831,1,3,male,72.000000,1,0,26,1445,NaN,+
831,832,1,2,female,73.797059,1,1,29,1875,NaN,NaN
832,833,0,3,female,73.797059,0,0,26,723,NaN,+
833,834,0,3,female,73.000000,0,0,34,785,NaN,NaN
834,835,0,3,female,72.000000,0,0,22,830,NaN,NaN
835,836,1,1,male,75.000000,1,1,17,8316,+,+
836,837,0,3,female,73.000000,0,0,31,866,NaN,NaN
837,838,0,3,female,73.797059,0,0,39,805,NaN,NaN
838,839,1,3,female,74.000000,0,0,16,5650,NaN,NaN
839,840,1,1,female,73.797059,0,0,11,2970,+,+
840,841,0,3,female,73.000000,0,0,31,793,NaN,NaN
841,842,0,2,female,72.000000,0,0,S.O./P.P. 3,1050,NaN,NaN
842,843,1,1,male,74.000000,0,0,11,3100,NaN,+
843,844,0,3,female,74.000000,0,0,26,644,NaN,+
844,845,0,3,female,72.000000,0,0,31,866,NaN,NaN
845,846,0,3,female,75.000000,0,0,55,755,NaN,NaN
846,847,0,3,female,73.797059,8,2,23,6955,NaN,NaN
847,848,0,3,female,74.000000,0,0,34,790,NaN,+
848,849,0,2,female,74.000000,0,1,24,3300,NaN,NaN
849,850,1,1,male,73.797059,1,0,17,8910,+,+
850,851,0,3,female,71.000000,4,2,34,3128,NaN,NaN
851,852,0,3,female,79.000000,0,0,34,778,NaN,NaN
852,853,0,3,male,71.000000,1,1,26,1525,NaN,+
853,854,1,1,male,72.000000,0,1,17,3940,+,NaN
854,855,0,2,male,76.000000,1,0,24,2600,NaN,NaN
855,856,1,3,male,72.000000,0,1,39,935,NaN,NaN
856,857,1,1,male,76.000000,1,1,36,16487,NaN,NaN

In [194]:
#Задание 2: Признак MedExam может быть отброшен, поскольку является крайне неполным 
#или содержит много нулевых значений как в обучающем, так и в тестовом наборе данных.

train_df = train_df.drop(['MedExam'], axis='columns')
test_df = test_df.drop(['MedExam'], axis='columns')
test_df

,Id,Education,Sex,Age,Pet,Children,Region,Activity,Sport,Longevity
0,858,1,female,73.000000,0,0,11.0,2655,NaN,1
1,859,3,male,75.000000,0,3,26.0,1926,+,1
2,860,3,female,73.000000,0,0,26.0,723,+,0
3,861,3,female,74.000000,2,0,35.0,1411,NaN,0
4,862,2,female,74.000000,1,0,28.0,1150,NaN,0
5,863,1,male,73.649171,0,0,17.0,2593,NaN,1
6,864,3,male,77.000000,8,2,23.0,6955,NaN,0
7,865,2,female,70.000000,0,0,23.0,1300,NaN,0
8,866,2,male,73.000000,0,0,23.0,1300,NaN,1
9,867,2,male,72.000000,1,0,21.0,1386,+,1
10,868,1,female,71.000000,0,0,17.0,5050,NaN,0
11,869,3,female,77.000000,0,0,34.0,950,NaN,0
12,870,3,female,73.000000,1,1,34.0,1113,NaN,1
13,871,3,female,75.000000,0,0,34.0,790,NaN,0
14,872,1,male,72.000000,1,1,11.0,5255,NaN,1
15,873,1,female,77.000000,0,0,69.0,500,NaN,0
16,874,3,female,70.000000,0,0,34.0,900,NaN,0
17,875,2,male,73.649171,1,0,33.0,2400,+,1
18,876,3,male,74.000000,0,0,26.0,723,+,1
19,877,3,female,73.649171,0,0,75.0,985,NaN,0
20,878,3,female,74.000000,0,0,34.0,790,NaN,0
21,879,3,female,74.000000,0,0,34.0,790,NaN,0
22,880,1,male,72.000000,0,1,11.0,8316,+,1
23,881,2,male,74.000000,0,1,23.0,2600,NaN,1
24,882,3,female,71.000000,0,0,34.0,790,NaN,0
25,883,3,male,75.000000,0,0,75.0,1052,NaN,0
26,884,2,female,73.649171,0,0,34.0,1050,NaN,0
27,885,3,female,72.000000,0,0,39.0,705,NaN,0
28,886,3,male,73.649171,0,5,38.0,2913,-,0
29,887,2,female,73.649171,0,0,21.0,1300,NaN,0
...,...,...,...,...,...,...,...,...,...,...
422,1280,3,female,74.000000,0,0,36.0,775,-,0
423,1281,3,female,74.000000,3,1,34.0,2108,NaN,0
424,1282,1,female,72.000000,0,0,12.0,9350,NaN,0
425,1283,1,male,73.649171,0,1,17.0,3940,NaN,1
426,1284,3,female,74.000000,0,2,26.0,2025,NaN,1
427,1285,2,female,72.000000,0,0,30.0,1050,NaN,0
428,1286,3,female,73.649171,3,1,31.0,2203,NaN,0
429,1287,1,male,74.000000,1,0,13.0,6000,NaN,1
430,1288,3,female,74.000000,0,0,37.0,725,-,0
431,1289,1,male,73.649171,1,1,13.0,7920,+,1
432,1290,3,female,75.000000,0,0,34.0,778,NaN,0
433,1291,3,female,72.000000,0,0,21.0,773,-,0
434,1292,1,male,76.000000,0,0,36.0,16487,NaN,1
435,1293,2,female,72.000000,1,0,28.0,2100,NaN,0
436,1294,1,male,73.000000,0,1,11.0,5940,+,1
437,1295,1,female,73.000000,0,0,11.0,4710,NaN,0
438,1296,1,female,78.000000,1,0,17.0,2772,+,0
439,1297,2,female,74.000000,0,0,21.0,1386,+,0
440,1298,2,female,76.000000,1,0,28.0,1050,NaN,0
441,1299,1,female,73.000000,1,1,11.0,21150,+,0
442,1300,3,male,73.000000,0,0,33.0,772,-,1
443,1301,3,male,74.000000,1,1,31.0,1378,NaN,1
444,1302,3,male,73.649171,0,0,36.0,775,-,1
445,1303,1,male,71.000000,1,0,19.0,9000,-,1
446,1304,3,male,72.000000,0,0,34.0,778,NaN,1
447,1305,3,female,74.000000,0,0,32.0,805,NaN,0
448,1306,1,male,71.000000,0,0,17.0,10890,+,1
449,1307,3,female,77.000000,0,0,31.0,725,NaN,0
450,1308,3,female,75.000000,0,0,35.0,805,NaN,0
451,1309,3,female,73.649171,1,1,26.0,2236,+,1

In [195]:
#Задание 3: Необходимо дополнить функцию Sport, 
#поскольку она также может соотноситься с долголетием.

def sport_indication(activity, avg_activity, atr):
    if atr != '+' and atr != '-':
        if activity >= avg_activity:
            return '+'
        return '-'
    return atr

avg_activity_train = train_df['Activity'].mean()
avg_activity_test = test_df['Activity'].mean()

train_df['Sport'] = train_df.apply(lambda x: sport_indication(x['Activity'], avg_activity_train, x['Sport']), axis = 1)
train_df
test_df['Sport'] = test_df.apply(lambda x: sport_indication(x['Activity'], avg_activity_test, x['Sport']), axis = 1)
test_df

,Id,Education,Sex,Age,Pet,Children,Region,Activity,Sport,Longevity
0,858,1,female,73.000000,0,0,11.0,2655,-,1
1,859,3,male,75.000000,0,3,26.0,1926,+,1
2,860,3,female,73.000000,0,0,26.0,723,+,0
3,861,3,female,74.000000,2,0,35.0,1411,-,0
4,862,2,female,74.000000,1,0,28.0,1150,-,0
5,863,1,male,73.649171,0,0,17.0,2593,-,1
6,864,3,male,77.000000,8,2,23.0,6955,+,0
7,865,2,female,70.000000,0,0,23.0,1300,-,0
8,866,2,male,73.000000,0,0,23.0,1300,-,1
9,867,2,male,72.000000,1,0,21.0,1386,+,1
10,868,1,female,71.000000,0,0,17.0,5050,+,0
11,869,3,female,77.000000,0,0,34.0,950,-,0
12,870,3,female,73.000000,1,1,34.0,1113,-,1
13,871,3,female,75.000000,0,0,34.0,790,-,0
14,872,1,male,72.000000,1,1,11.0,5255,+,1
15,873,1,female,77.000000,0,0,69.0,500,-,0
16,874,3,female,70.000000,0,0,34.0,900,-,0
17,875,2,male,73.649171,1,0,33.0,2400,+,1
18,876,3,male,74.000000,0,0,26.0,723,+,1
19,877,3,female,73.649171,0,0,75.0,985,-,0
20,878,3,female,74.000000,0,0,34.0,790,-,0
21,879,3,female,74.000000,0,0,34.0,790,-,0
22,880,1,male,72.000000,0,1,11.0,8316,+,1
23,881,2,male,74.000000,0,1,23.0,2600,-,1
24,882,3,female,71.000000,0,0,34.0,790,-,0
25,883,3,male,75.000000,0,0,75.0,1052,-,0
26,884,2,female,73.649171,0,0,34.0,1050,-,0
27,885,3,female,72.000000,0,0,39.0,705,-,0
28,886,3,male,73.649171,0,5,38.0,2913,-,0
29,887,2,female,73.649171,0,0,21.0,1300,-,0
...,...,...,...,...,...,...,...,...,...,...
422,1280,3,female,74.000000,0,0,36.0,775,-,0
423,1281,3,female,74.000000,3,1,34.0,2108,-,0
424,1282,1,female,72.000000,0,0,12.0,9350,+,0
425,1283,1,male,73.649171,0,1,17.0,3940,+,1
426,1284,3,female,74.000000,0,2,26.0,2025,-,1
427,1285,2,female,72.000000,0,0,30.0,1050,-,0
428,1286,3,female,73.649171,3,1,31.0,2203,-,0
429,1287,1,male,74.000000,1,0,13.0,6000,+,1
430,1288,3,female,74.000000,0,0,37.0,725,-,0
431,1289,1,male,73.649171,1,1,13.0,7920,+,1
432,1290,3,female,75.000000,0,0,34.0,778,-,0
433,1291,3,female,72.000000,0,0,21.0,773,-,0
434,1292,1,male,76.000000,0,0,36.0,16487,+,1
435,1293,2,female,72.000000,1,0,28.0,2100,-,0
436,1294,1,male,73.000000,0,1,11.0,5940,+,1
437,1295,1,female,73.000000,0,0,11.0,4710,+,0
438,1296,1,female,78.000000,1,0,17.0,2772,+,0
439,1297,2,female,74.000000,0,0,21.0,1386,+,0
440,1298,2,female,76.000000,1,0,28.0,1050,-,0
441,1299,1,female,73.000000,1,1,11.0,21150,+,0
442,1300,3,male,73.000000,0,0,33.0,772,-,1
443,1301,3,male,74.000000,1,1,31.0,1378,-,1
444,1302,3,male,73.649171,0,0,36.0,775,-,1
445,1303,1,male,71.000000,1,0,19.0,9000,-,1
446,1304,3,male,72.000000,0,0,34.0,778,-,1
447,1305,3,female,74.000000,0,0,32.0,805,-,0
448,1306,1,male,71.000000,0,0,17.0,10890,+,1
449,1307,3,female,77.000000,0,0,31.0,725,-,0
450,1308,3,female,75.000000,0,0,35.0,805,-,0
451,1309,3,female,73.649171,1,1,26.0,2236,+,1

In [196]:
#Задание 4: Признак Region может быть исключен из нашего анализа, так как содержит 
#большое количество дубликатов (22%) и может отсутствовать корреляция между ним и целевым признаком.

train_df = train_df.drop(['Region'], axis='columns')
test_df = test_df.drop(['Region'], axis='columns')
train_df

,Id,Longevity,Education,Sex,Age,Pet,Children,Activity,Sport
0,1,0,3,female,73.000000,1,0,725,-
1,2,1,1,male,75.000000,1,0,7128,+
2,3,1,3,male,73.000000,0,0,793,-
3,4,1,1,male,74.000000,1,0,5310,+
4,5,0,3,female,74.000000,0,0,805,-
5,6,0,3,female,73.797059,0,0,846,-
6,7,0,1,female,77.000000,0,0,5186,+
7,8,0,3,female,70.000000,3,1,2108,-
8,9,1,3,male,73.000000,0,2,1113,-
9,10,1,2,male,72.000000,1,0,3007,+
10,11,1,3,male,71.000000,1,1,1670,-
11,12,1,1,male,77.000000,0,0,2655,-
12,13,0,3,female,73.000000,0,0,805,-
13,14,0,3,female,75.000000,1,5,3128,-
14,15,0,3,male,72.000000,0,0,785,-
15,16,1,2,male,77.000000,0,0,1600,-
16,17,0,3,female,70.000000,4,1,2913,-
17,18,1,2,female,73.797059,0,0,1300,-
18,19,0,3,male,74.000000,1,0,1800,-
19,20,1,3,male,73.797059,0,0,723,+
20,21,0,2,female,74.000000,0,0,2600,-
21,22,1,2,female,74.000000,0,0,1300,-
22,23,1,3,male,72.000000,0,0,803,-
23,24,1,1,female,74.000000,0,0,3550,+
24,25,0,3,male,71.000000,3,1,2108,-
25,26,1,3,male,75.000000,1,5,3139,-
26,27,0,3,female,73.797059,0,0,723,+
27,28,0,1,female,72.000000,3,2,26300,+
28,29,1,3,male,73.797059,0,0,788,-
29,30,0,3,female,73.797059,0,0,790,-
...,...,...,...,...,...,...,...,...,...
827,828,1,2,female,70.000000,0,2,3700,+
828,829,1,3,female,73.797059,0,0,775,-
829,830,1,1,male,78.000000,0,0,8000,+
830,831,1,3,male,72.000000,1,0,1445,+
831,832,1,2,female,73.797059,1,1,1875,-
832,833,0,3,female,73.797059,0,0,723,+
833,834,0,3,female,73.000000,0,0,785,-
834,835,0,3,female,72.000000,0,0,830,-
835,836,1,1,male,75.000000,1,1,8316,+
836,837,0,3,female,73.000000,0,0,866,-
837,838,0,3,female,73.797059,0,0,805,-
838,839,1,3,female,74.000000,0,0,5650,+
839,840,1,1,female,73.797059,0,0,2970,+
840,841,0,3,female,73.000000,0,0,793,-
841,842,0,2,female,72.000000,0,0,1050,-
842,843,1,1,male,74.000000,0,0,3100,+
843,844,0,3,female,74.000000,0,0,644,+
844,845,0,3,female,72.000000,0,0,866,-
845,846,0,3,female,75.000000,0,0,755,-
846,847,0,3,female,73.797059,8,2,6955,+
847,848,0,3,female,74.000000,0,0,790,+
848,849,0,2,female,74.000000,0,1,3300,+
849,850,1,1,male,73.797059,1,0,8910,+
850,851,0,3,female,71.000000,4,2,3128,-
851,852,0,3,female,79.000000,0,0,778,-
852,853,0,3,male,71.000000,1,1,1525,+
853,854,1,1,male,72.000000,0,1,3940,+
854,855,0,2,male,76.000000,1,0,2600,-
855,856,1,3,male,72.000000,0,1,935,-
856,857,1,1,male,76.000000,1,1,16487,+

In [197]:
#Задание 5: Признак Id может быть удален из набора обучающих данных, 
#поскольку он не способствует целевому признаку Longevity

train_df = train_df.drop(['Id'], axis='columns')
train_df

     Longevity  Education     Sex        Age  Pet  Children  Activity Sport
0            0          3  female  73.000000    1         0       725     -
1            1          1    male  75.000000    1         0      7128     +
2            1          3    male  73.000000    0         0       793     -
3            1          1    male  74.000000    1         0      5310     +
4            0          3  female  74.000000    0         0       805     -
5            0          3  female  73.797059    0         0       846     -
6            0          1  female  77.000000    0         0      5186     +
7            0          3  female  70.000000    3         1      2108     -
8            1          3    male  73.000000    0         2      1113     -
9            1          2    male  72.000000    1         0      3007     +
10           1          3    male  71.000000    1         1      1670     -
11           1          1    male  77.000000    0         0      2655     -
12           0          3  female  73.000000    0         0       805     -
13           0          3  female  75.000000    1         5      3128     -
14           0          3    male  72.000000    0         0       785     -
15           1          2    male  77.000000    0         0      1600     -
16           0          3  female  70.000000    4         1      2913     -
17           1          2  female  73.797059    0         0      1300     -
18           0          3    male  74.000000    1         0      1800     -
19           1          3    male  73.797059    0         0       723     +
20           0          2  female  74.000000    0         0      2600     -
21           1          2  female  74.000000    0         0      1300     -
22           1          3    male  72.000000    0         0       803     -
23           1          1  female  74.000000    0         0      3550     +
24           0          3    male  71.000000    3         1      2108     -
25           1          3    male  75.000000    1         5      3139     -
26           0          3  female  73.797059    0         0       723     +
27           0          1  female  72.000000    3         2     26300     +
28           1          3    male  73.797059    0         0       788     -
29           0          3  female  73.797059    0         0       790     -
..         ...        ...     ...        ...  ...       ...       ...   ...
827          1          2  female  70.000000    0         2      3700     +
828          1          3  female  73.797059    0         0       775     -
829          1          1    male  78.000000    0         0      8000     +
830          1          3    male  72.000000    1         0      1445     +
831          1          2  female  73.797059    1         1      1875     -
832          0          3  female  73.797059    0         0       723     +
833          0          3  female  73.000000    0         0       785     -
834          0          3  female  72.000000    0         0       830     -
835          1          1    male  75.000000    1         1      8316     +
836          0          3  female  73.000000    0         0       866     -
837          0          3  female  73.797059    0         0       805     -
838          1          3  female  74.000000    0         0      5650     +
839          1          1  female  73.797059    0         0      2970     +
840          0          3  female  73.000000    0         0       793     -
841          0          2  female  72.000000    0         0      1050     -
842          1          1    male  74.000000    0         0      3100     +
843          0          3  female  74.000000    0         0       644     +
844          0          3  female  72.000000    0         0       866     -
845          0          3  female  75.000000    0         0       755     -
846          0          3  female  73.797059    8         2      6955     +
847          0          3  female  74.000000    0         0       790     +
848          0          2  female  74.000000    0         1      3300     +
849          1          1    male  73.797059    1         0      8910     +
850          0          3  female  71.000000    4         2      3128     -
851          0          3  female  79.000000    0         0       778     -
852          0          3    male  71.000000    1         1      1525     +
853          1          1    male  72.000000    0         1      3940     +
854          0          2    male  76.000000    1         0      2600     -
855          1          3    male  72.000000    0         1       935     -
856          1          1    male  76.000000    1         1     16487     +

[857 rows x 8 columns]

In [198]:
#Задание 6: Cоздать новый признак под названием Family 
#(Семья на основе детей и домашних животных), чтобы получить
#общее количество членов семьи.

train_df['Family'] = train_df.apply(lambda x: x['Children'] + x['Pet'], axis = 1)
test_df['Family'] = test_df.apply(lambda x: x['Children'] + x['Pet'], axis = 1)
train_df

,Longevity,Education,Sex,Age,Pet,Children,Activity,Sport,Family
0,0,3,female,73.000000,1,0,725,-,1
1,1,1,male,75.000000,1,0,7128,+,1
2,1,3,male,73.000000,0,0,793,-,0
3,1,1,male,74.000000,1,0,5310,+,1
4,0,3,female,74.000000,0,0,805,-,0
5,0,3,female,73.797059,0,0,846,-,0
6,0,1,female,77.000000,0,0,5186,+,0
7,0,3,female,70.000000,3,1,2108,-,4
8,1,3,male,73.000000,0,2,1113,-,2
9,1,2,male,72.000000,1,0,3007,+,1
10,1,3,male,71.000000,1,1,1670,-,2
11,1,1,male,77.000000,0,0,2655,-,0
12,0,3,female,73.000000,0,0,805,-,0
13,0,3,female,75.000000,1,5,3128,-,6
14,0,3,male,72.000000,0,0,785,-,0
15,1,2,male,77.000000,0,0,1600,-,0
16,0,3,female,70.000000,4,1,2913,-,5
17,1,2,female,73.797059,0,0,1300,-,0
18,0,3,male,74.000000,1,0,1800,-,1
19,1,3,male,73.797059,0,0,723,+,0
20,0,2,female,74.000000,0,0,2600,-,0
21,1,2,female,74.000000,0,0,1300,-,0
22,1,3,male,72.000000,0,0,803,-,0
23,1,1,female,74.000000,0,0,3550,+,0
24,0,3,male,71.000000,3,1,2108,-,4
25,1,3,male,75.000000,1,5,3139,-,6
26,0,3,female,73.797059,0,0,723,+,0
27,0,1,female,72.000000,3,2,26300,+,5
28,1,3,male,73.797059,0,0,788,-,0
29,0,3,female,73.797059,0,0,790,-,0
...,...,...,...,...,...,...,...,...,...
827,1,2,female,70.000000,0,2,3700,+,2
828,1,3,female,73.797059,0,0,775,-,0
829,1,1,male,78.000000,0,0,8000,+,0
830,1,3,male,72.000000,1,0,1445,+,1
831,1,2,female,73.797059,1,1,1875,-,2
832,0,3,female,73.797059,0,0,723,+,0
833,0,3,female,73.000000,0,0,785,-,0
834,0,3,female,72.000000,0,0,830,-,0
835,1,1,male,75.000000,1,1,8316,+,2
836,0,3,female,73.000000,0,0,866,-,0
837,0,3,female,73.797059,0,0,805,-,0
838,1,3,female,74.000000,0,0,5650,+,0
839,1,1,female,73.797059,0,0,2970,+,0
840,0,3,female,73.000000,0,0,793,-,0
841,0,2,female,72.000000,0,0,1050,-,0
842,1,1,male,74.000000,0,0,3100,+,0
843,0,3,female,74.000000,0,0,644,+,0
844,0,3,female,72.000000,0,0,866,-,0
845,0,3,female,75.000000,0,0,755,-,0
846,0,3,female,73.797059,8,2,6955,+,10
847,0,3,female,74.000000,0,0,790,+,0
848,0,2,female,74.000000,0,1,3300,+,1
849,1,1,male,73.797059,1,0,8910,+,1
850,0,3,female,71.000000,4,2,3128,-,6
851,0,3,female,79.000000,0,0,778,-,0
852,0,3,male,71.000000,1,1,1525,+,2
853,1,1,male,72.000000,0,1,3940,+,1
854,0,2,male,76.000000,1,0,2600,-,1
855,1,3,male,72.000000,0,1,935,-,1
856,1,1,male,76.000000,1,1,16487,+,2

In [209]:
#Задание 7: Создать новый признак IsAlone, проживающих одиноко без домашних животных и родственников.

train_df['IsAlone'] = train_df.apply(lambda x: 1 if not x['Family'] else 0, axis = 1)
test_df['IsAlone'] = test_df.apply(lambda x: 1 if not x['Family'] else 0, axis = 1)
train_df

,Longevity,Education,Sex,Age,Pet,Children,Activity,Sport,Family,IsAlone,Status,AgeDiapason
0,0,3,female,73.000000,1,0,725,-,1,0,3,3
1,1,1,male,75.000000,1,0,7128,+,1,0,1,4
2,1,3,male,73.000000,0,0,793,-,0,1,3,3
3,1,1,male,74.000000,1,0,5310,+,1,0,1,3
4,0,3,female,74.000000,0,0,805,-,0,1,3,3
5,0,3,female,73.797059,0,0,846,-,0,1,3,3
6,0,1,female,77.000000,0,0,5186,+,0,1,1,5
7,0,3,female,70.000000,3,1,2108,-,4,0,3,1
8,1,3,male,73.000000,0,2,1113,-,2,0,3,3
9,1,2,male,72.000000,1,0,3007,+,1,0,2,2
10,1,3,male,71.000000,1,1,1670,-,2,0,3,2
11,1,1,male,77.000000,0,0,2655,-,0,1,1,5
12,0,3,female,73.000000,0,0,805,-,0,1,3,3
13,0,3,female,75.000000,1,5,3128,-,6,0,3,4
14,0,3,male,72.000000,0,0,785,-,0,1,3,2
15,1,2,male,77.000000,0,0,1600,-,0,1,2,5
16,0,3,female,70.000000,4,1,2913,-,5,0,3,1
17,1,2,female,73.797059,0,0,1300,-,0,1,2,3
18,0,3,male,74.000000,1,0,1800,-,1,0,3,3
19,1,3,male,73.797059,0,0,723,+,0,1,3,3
20,0,2,female,74.000000,0,0,2600,-,0,1,2,3
21,1,2,female,74.000000,0,0,1300,-,0,1,2,3
22,1,3,male,72.000000,0,0,803,-,0,1,3,2
23,1,1,female,74.000000,0,0,3550,+,0,1,1,3
24,0,3,male,71.000000,3,1,2108,-,4,0,3,2
25,1,3,male,75.000000,1,5,3139,-,6,0,3,4
26,0,3,female,73.797059,0,0,723,+,0,1,3,3
27,0,1,female,72.000000,3,2,26300,+,5,0,1,2
28,1,3,male,73.797059,0,0,788,-,0,1,3,3
29,0,3,female,73.797059,0,0,790,-,0,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...
827,1,2,female,70.000000,0,2,3700,+,2,0,2,1
828,1,3,female,73.797059,0,0,775,-,0,1,3,3
829,1,1,male,78.000000,0,0,8000,+,0,1,1,5
830,1,3,male,72.000000,1,0,1445,+,1,0,3,2
831,1,2,female,73.797059,1,1,1875,-,2,0,2,3
832,0,3,female,73.797059,0,0,723,+,0,1,3,3
833,0,3,female,73.000000,0,0,785,-,0,1,3,3
834,0,3,female,72.000000,0,0,830,-,0,1,3,2
835,1,1,male,75.000000,1,1,8316,+,2,0,1,4
836,0,3,female,73.000000,0,0,866,-,0,1,3,3
837,0,3,female,73.797059,0,0,805,-,0,1,3,3
838,1,3,female,74.000000,0,0,5650,+,0,1,3,3
839,1,1,female,73.797059,0,0,2970,+,0,1,1,3
840,0,3,female,73.000000,0,0,793,-,0,1,3,3
841,0,2,female,72.000000,0,0,1050,-,0,1,2,2
842,1,1,male,74.000000,0,0,3100,+,0,1,1,3
843,0,3,female,74.000000,0,0,644,+,0,1,3,3
844,0,3,female,72.000000,0,0,866,-,0,1,3,2
845,0,3,female,75.000000,0,0,755,-,0,1,3,4
846,0,3,female,73.797059,8,2,6955,+,10,0,3,3
847,0,3,female,74.000000,0,0,790,+,0,1,3,3
848,0,2,female,74.000000,0,1,3300,+,1,0,2,3
849,1,1,male,73.797059,1,0,8910,+,1,0,1,3
850,0,3,female,71.000000,4,2,3128,-,6,0,3,2
851,0,3,female,79.000000,0,0,778,-,0,1,3,6
852,0,3,male,71.000000,1,1,1525,+,2,0,3,2
853,1,1,male,72.000000,0,1,3940,+,1,0,1,2
854,0,2,male,76.000000,1,0,2600,-,1,0,2,4
855,1,3,male,72.000000,0,1,935,-,1,0,3,2
856,1,1,male,76.000000,1,1,16487,+,2,0,1,4

In [208]:
#Задание 8: Cоздать новый признак для возрастных групп (Age,Education), 
#указывающий на социальный статус пожилого человека. 
#Это превращает непрерывный числовой признак в порядковый категориальный признак

#Education = 1 => Elite
#Education = 2 => Wealthy Middle Class
#Education = 3 => Work Class
def get_status(age, education):
    if education == 1:
        return 1
    if education == 2:
        return 2
    if education == 3:
        return 3
train_df['Status'] = train_df.apply(lambda x: get_status(x['Age'], x['Education']), axis = 1)
test_df['Status'] = test_df.apply(lambda x: get_status(x['Age'], x['Education']), axis = 1)
train_df

,Longevity,Education,Sex,Age,Pet,Children,Activity,Sport,Family,IsAlone,Status,AgeDiapason
0,0,3,female,73.000000,1,0,725,-,1,-,3,3
1,1,1,male,75.000000,1,0,7128,+,1,-,1,4
2,1,3,male,73.000000,0,0,793,-,0,+,3,3
3,1,1,male,74.000000,1,0,5310,+,1,-,1,3
4,0,3,female,74.000000,0,0,805,-,0,+,3,3
5,0,3,female,73.797059,0,0,846,-,0,+,3,3
6,0,1,female,77.000000,0,0,5186,+,0,+,1,5
7,0,3,female,70.000000,3,1,2108,-,4,-,3,1
8,1,3,male,73.000000,0,2,1113,-,2,-,3,3
9,1,2,male,72.000000,1,0,3007,+,1,-,2,2
10,1,3,male,71.000000,1,1,1670,-,2,-,3,2
11,1,1,male,77.000000,0,0,2655,-,0,+,1,5
12,0,3,female,73.000000,0,0,805,-,0,+,3,3
13,0,3,female,75.000000,1,5,3128,-,6,-,3,4
14,0,3,male,72.000000,0,0,785,-,0,+,3,2
15,1,2,male,77.000000,0,0,1600,-,0,+,2,5
16,0,3,female,70.000000,4,1,2913,-,5,-,3,1
17,1,2,female,73.797059,0,0,1300,-,0,+,2,3
18,0,3,male,74.000000,1,0,1800,-,1,-,3,3
19,1,3,male,73.797059,0,0,723,+,0,+,3,3
20,0,2,female,74.000000,0,0,2600,-,0,+,2,3
21,1,2,female,74.000000,0,0,1300,-,0,+,2,3
22,1,3,male,72.000000,0,0,803,-,0,+,3,2
23,1,1,female,74.000000,0,0,3550,+,0,+,1,3
24,0,3,male,71.000000,3,1,2108,-,4,-,3,2
25,1,3,male,75.000000,1,5,3139,-,6,-,3,4
26,0,3,female,73.797059,0,0,723,+,0,+,3,3
27,0,1,female,72.000000,3,2,26300,+,5,-,1,2
28,1,3,male,73.797059,0,0,788,-,0,+,3,3
29,0,3,female,73.797059,0,0,790,-,0,+,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...
827,1,2,female,70.000000,0,2,3700,+,2,-,2,1
828,1,3,female,73.797059,0,0,775,-,0,+,3,3
829,1,1,male,78.000000,0,0,8000,+,0,+,1,5
830,1,3,male,72.000000,1,0,1445,+,1,-,3,2
831,1,2,female,73.797059,1,1,1875,-,2,-,2,3
832,0,3,female,73.797059,0,0,723,+,0,+,3,3
833,0,3,female,73.000000,0,0,785,-,0,+,3,3
834,0,3,female,72.000000,0,0,830,-,0,+,3,2
835,1,1,male,75.000000,1,1,8316,+,2,-,1,4
836,0,3,female,73.000000,0,0,866,-,0,+,3,3
837,0,3,female,73.797059,0,0,805,-,0,+,3,3
838,1,3,female,74.000000,0,0,5650,+,0,+,3,3
839,1,1,female,73.797059,0,0,2970,+,0,+,1,3
840,0,3,female,73.000000,0,0,793,-,0,+,3,3
841,0,2,female,72.000000,0,0,1050,-,0,+,2,2
842,1,1,male,74.000000,0,0,3100,+,0,+,1,3
843,0,3,female,74.000000,0,0,644,+,0,+,3,3
844,0,3,female,72.000000,0,0,866,-,0,+,3,2
845,0,3,female,75.000000,0,0,755,-,0,+,3,4
846,0,3,female,73.797059,8,2,6955,+,10,-,3,3
847,0,3,female,74.000000,0,0,790,+,0,+,3,3
848,0,2,female,74.000000,0,1,3300,+,1,-,2,3
849,1,1,male,73.797059,1,0,8910,+,1,-,1,3
850,0,3,female,71.000000,4,2,3128,-,6,-,3,2
851,0,3,female,79.000000,0,0,778,-,0,+,3,6
852,0,3,male,71.000000,1,1,1525,+,2,-,3,2
853,1,1,male,72.000000,0,1,3940,+,1,-,1,2
854,0,2,male,76.000000,1,0,2600,-,1,-,2,4
855,1,3,male,72.000000,0,1,935,-,1,-,3,2
856,1,1,male,76.000000,1,1,16487,+,2,-,1,4

In [207]:
#Задание 9: Cоздать новый признак диапазонов возрасного равновесия на основе признака Age, 
#т.к. это поможет разделить пожилых людей на группы условно равновесного состояния 
#(смертность повышается в определенные периоды времени между 70 и 80 годами,
#и в другие моменты резко снижается) для следующих интервалов: 
#{ (...,70](70,72],(72,74],(74,76],(76,78],(80,..)}

def get_diapason(age):
    if age <= 70:
        return 1
    if age > 70 and age <= 72:
        return 2
    if age > 72 and age <= 74:
        return 3
    if age > 74 and age <= 76:
        return 4
    if age > 76 and age <= 78:
        return 5
    return 6
train_df['AgeDiapason'] = train_df.apply(lambda x: get_diapason(x['Age']), axis = 1)
test_df['AgeDiapason'] = test_df.apply(lambda x: get_diapason(x['Age']), axis = 1)
train_df

,Longevity,Education,Sex,Age,Pet,Children,Activity,Sport,Family,IsAlone,Status,AgeDiapason
0,0,3,female,73.000000,1,0,725,-,1,-,Work Class,3
1,1,1,male,75.000000,1,0,7128,+,1,-,Elite,4
2,1,3,male,73.000000,0,0,793,-,0,+,Work Class,3
3,1,1,male,74.000000,1,0,5310,+,1,-,Elite,3
4,0,3,female,74.000000,0,0,805,-,0,+,Work Class,3
5,0,3,female,73.797059,0,0,846,-,0,+,Work Class,3
6,0,1,female,77.000000,0,0,5186,+,0,+,Elite,5
7,0,3,female,70.000000,3,1,2108,-,4,-,Work Class,1
8,1,3,male,73.000000,0,2,1113,-,2,-,Work Class,3
9,1,2,male,72.000000,1,0,3007,+,1,-,Wealthy Middle Class,2
10,1,3,male,71.000000,1,1,1670,-,2,-,Work Class,2
11,1,1,male,77.000000,0,0,2655,-,0,+,Elite,5
12,0,3,female,73.000000,0,0,805,-,0,+,Work Class,3
13,0,3,female,75.000000,1,5,3128,-,6,-,Work Class,4
14,0,3,male,72.000000,0,0,785,-,0,+,Work Class,2
15,1,2,male,77.000000,0,0,1600,-,0,+,Wealthy Middle Class,5
16,0,3,female,70.000000,4,1,2913,-,5,-,Work Class,1
17,1,2,female,73.797059,0,0,1300,-,0,+,Wealthy Middle Class,3
18,0,3,male,74.000000,1,0,1800,-,1,-,Work Class,3
19,1,3,male,73.797059,0,0,723,+,0,+,Work Class,3
20,0,2,female,74.000000,0,0,2600,-,0,+,Wealthy Middle Class,3
21,1,2,female,74.000000,0,0,1300,-,0,+,Wealthy Middle Class,3
22,1,3,male,72.000000,0,0,803,-,0,+,Work Class,2
23,1,1,female,74.000000,0,0,3550,+,0,+,Elite,3
24,0,3,male,71.000000,3,1,2108,-,4,-,Work Class,2
25,1,3,male,75.000000,1,5,3139,-,6,-,Work Class,4
26,0,3,female,73.797059,0,0,723,+,0,+,Work Class,3
27,0,1,female,72.000000,3,2,26300,+,5,-,Elite,2
28,1,3,male,73.797059,0,0,788,-,0,+,Work Class,3
29,0,3,female,73.797059,0,0,790,-,0,+,Work Class,3
...,...,...,...,...,...,...,...,...,...,...,...,...
827,1,2,female,70.000000,0,2,3700,+,2,-,Wealthy Middle Class,1
828,1,3,female,73.797059,0,0,775,-,0,+,Work Class,3
829,1,1,male,78.000000,0,0,8000,+,0,+,Elite,5
830,1,3,male,72.000000,1,0,1445,+,1,-,Work Class,2
831,1,2,female,73.797059,1,1,1875,-,2,-,Wealthy Middle Class,3
832,0,3,female,73.797059,0,0,723,+,0,+,Work Class,3
833,0,3,female,73.000000,0,0,785,-,0,+,Work Class,3
834,0,3,female,72.000000,0,0,830,-,0,+,Work Class,2
835,1,1,male,75.000000,1,1,8316,+,2,-,Elite,4
836,0,3,female,73.000000,0,0,866,-,0,+,Work Class,3
837,0,3,female,73.797059,0,0,805,-,0,+,Work Class,3
838,1,3,female,74.000000,0,0,5650,+,0,+,Work Class,3
839,1,1,female,73.797059,0,0,2970,+,0,+,Elite,3
840,0,3,female,73.000000,0,0,793,-,0,+,Work Class,3
841,0,2,female,72.000000,0,0,1050,-,0,+,Wealthy Middle Class,2
842,1,1,male,74.000000,0,0,3100,+,0,+,Elite,3
843,0,3,female,74.000000,0,0,644,+,0,+,Work Class,3
844,0,3,female,72.000000,0,0,866,-,0,+,Work Class,2
845,0,3,female,75.000000,0,0,755,-,0,+,Work Class,4
846,0,3,female,73.797059,8,2,6955,+,10,-,Work Class,3
847,0,3,female,74.000000,0,0,790,+,0,+,Work Class,3
848,0,2,female,74.000000,0,1,3300,+,1,-,Wealthy Middle Class,3
849,1,1,male,73.797059,1,0,8910,+,1,-,Elite,3
850,0,3,female,71.000000,4,2,3128,-,6,-,Work Class,2
851,0,3,female,79.000000,0,0,778,-,0,+,Work Class,6
852,0,3,male,71.000000,1,1,1525,+,2,-,Work Class,2
853,1,1,male,72.000000,0,1,3940,+,1,-,Elite,2
854,0,2,male,76.000000,1,0,2600,-,1,-,Wealthy Middle Class,4
855,1,3,male,72.000000,0,1,935,-,1,-,Work Class,2
856,1,1,male,76.000000,1,1,16487,+,2,-,Elite,4